body 
{
    background-color: rgb(245, 184, 194);
   }
   h1 {
    color: rgb(250, 3, 139);
    text-align: center;
   
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }
   h3 {
    color: rgb(209, 51, 130);
    text-align: center;
}
p {
font-family: serif;
 font-size: 8px;
}
h3 {
    color: rgb(218, 93, 141);
    text-align: center;
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }

p {
font-family: verdana;
 font-size: 20px;
}
