body {
    background-color: rgb(230, 112, 171);
   }
   h1 {
    color: rgb(248, 219, 230);
    text-align: center;
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }

p {
font-family: verdana;
 font-size: 20px;
}
h3 {
    color: rgb(233, 173, 210);
    text-align: center;
   }
   p {
   font-family: verdana;
    font-size: 20px;
   }

p {
font-family: verdana;
 font-size: 20px;
}
